!!! 5
!!!

%html
  %head
    %title Wispy Cloud Capacity
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

  %body
    =render "shared/navbar"
    - if flash[:success]
      .alert.alert-success
        = flash[:success]

    .container
      %h1 Wispy Cloud Capacity

      = yield
